
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f3f1ff;
    color: #2d2d2d;
    overflow-x: hidden;
    background-image: linear-gradient( to right , #fac29e,rgb(247, 242, 235));
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #ffffffcc;
    backdrop-filter: blur(12px);
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.logo {
    font-size: 29px;
    font-weight: 700;
    color: #e78747;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    transition: 0.3s ease;
}

.nav-links a:hover {
    color: #e78747;
}

.login {
    
    padding: 15px 28px;
    background: #e78747;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1rem;
}

.login:hover {
    border-color: #010004;
      transform: scale(1.05);
        box-shadow: 0 12px 25px rgba(0,0,0,0.3);
}
.reg {
    
    padding: 15px 28px;
    background: #e78747;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1rem;
}

.reg:hover {
    border-color: #010004;
      transform: scale(1.05);
        box-shadow: 0 12px 25px rgba(0,0,0,0.3);}

.wel {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.wel h1 {
    font-size: 100px;
    color: #3b3a60;
    margin-bottom: 15px;
}

.wel p {
    font-size: 2rem;
    color: #4e4c73;
    max-width: 800px;
}

.button {
    margin-top: 25px;
    padding: 12px 28px;
    background: #e78747;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-size: 2rem;
}

.button:hover {
    background: #fff;
    color: #e78747;
    transform: scale(1.1);
     transform: scale(1.05);
        box-shadow: 0 12px 25px rgba(0,0,0,0.3);
}

.cards-section {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 50px;
}

.card {
    background: #ffffff;
    border-radius: 20px;
    padding: 50px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    flex: 1 1 260px;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.592);
}

.card h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #3b3a60;
}

.card p {
    font-size: 1.2rem;
    color: #5a5875;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    background: #ffffffcc;

    color: #403e61;
}




